<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="IP_SERVER_API" value="127.0.0.1"/>
    <add key="PUERTO" value="8082"/>
    <add key="API_URL_BASE" value="http://{0}:{1}"/>
    <add key="ID_MENU_MOVIL" value="1"/>
    <add key="PATH_FILE_DESING" value=".\Style.txt" />
    <add key="ID_TERM_SERVER" value="99"/>
  </appSettings>

  <connectionStrings>
    <add name="Conexion" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AlohaWebService;User Id=sa;Password=National09;Integrated Security=true;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <log4net>
    <appender name="Agente_aloha" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\Agente_aloha." />
      <param name="MaximumFileSize" value="5MB" />
      <param name="MaxSizeRollBackups" value="20" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value=".yyyyMMdd'.log'" />
      <param name="staticLogFileName" value="false" />
      <param name="appendToFile" value="true" />
      <param name="Threshold" value="INFO" />
      <layout name="StandardLayout" type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd THH:mm:sss.fffff} [%thread] [%-5level] [%-17.17logger] %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Agente_aloha" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>